{{> head }}
{{> navbar }}

<div class="col-4">
    <img src="https://pbs.twimg.com/media/ECfSITmVAAEx39I?format=jpg&name=900x900" class="img-thumbnail" alt="">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet dolorem, sed omnis possimus cum dolores quaerat voluptas dolore veniam ullam. Doloremque repellendus veniam esse debitis libero velit natus provident eaque.</p>
</div>

{{>footer}}